<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rickendirk.rsgwijzigingen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsg_2"
        android:label="Wijzigingen"
        android:theme="@style/AppTheme"
        android:backupAgent="BackupAgent">
        <activity
            android:name="com.rickendirk.rsgwijzigingen.MainActivity"
            android:label="Wijzigingen">
            <!-- Bovenstaand zorgt ervoor dat na orientatieverandering de activity niet herladen wordt.
           Geeft pas glitchy gedrag bij 2e draai, dus zo houden, te overriden met onConfigurationChanged-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rickendirk.rsgwijzigingen.SettingsActivity"
            android:label="Instellingen"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.rickendirk.rsgwijzigingen.MainActivity">


        </activity>
        <activity android:name="com.rickendirk.rsgwijzigingen.WizardActivity"
            android:parentActivityName="com.rickendirk.rsgwijzigingen.MainActivity"/>
        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIhCfkSCF4iq6jIv0CfUiAkR6JnuKzRnWgZZbJmA" />
        <service
            android:name=".ZoekService">
        </service>
    </application>

</manifest>
